* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 50vh;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(249, 249, 249, 1);
}

img {
    width: 100px;
    border-radius: 50%;
    padding: 1vw;
}