* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.grid-container {
    display: grid;
    gap: 20px;
}

.grid-item {
    background-color: rgb(94, 149, 204);
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);

    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-item:hover {
    filter: brightness(90%);
    transition: 0.3s;
}

body {
    background-color: rgb(207, 211, 214);

    background-image: url('./images/background.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main {
    padding: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

#page {
    width: 100%;
    max-width: 500px;

    grid-template-columns: 1fr;
}

#title {
    background-color: rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: column;
}

#banner img {
    width: 100%;
}

#details {}

#registry {}

#venmo {}

#recipies {}

@media only screen and (max-width: 500px) {
    main {
        padding: 20px;
    }
}